/* stylelint-disable declaration-no-important */
/* stylelint-disable plugin/no-low-performance-animation-properties */
/* stylelint-disable no-descending-specificity */
:root {
  --background: #fff;
  --disabled: #c2c2c2;
  --hover: #dfdfdf;
  --main-hover: #2580ff;
  --main: #0069ff;
  --text-invert: #fff;
  --text: #394e6a;
  --error: #f00;
  --resize: 4px;
}

.text-yellow-400.cursor-pointer.z-10.maplibregl-marker.maplibregl-marker-anchor-center:nth-child(
    -n + 144
  ) {
  display: none;
}

/** Widget */
.wwidget {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 256px;
  background-color: var(--background);
  color: var(--text);
}

.wwidget .images {
  display: block;
  overflow-y: auto;
  height: auto;
  max-height: 240px;
}

.wwidget .images .image {
  display: flex;
  align-items: center;
  width: 100%;
  height: 64px;
}

.wwidget .images .image img {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  cursor: pointer;
}

.wwidget .images .image button {
  width: 32px;
  height: 64px;
  font-weight: bolder;
  font-size: 24px;
}

/** Image */
.wimage {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}

.wimage canvas {
  width: 100%;
  box-shadow: inset var(--main) 0 0 0 1px;
  cursor: all-scroll;
  image-rendering: pixelated;
}

.wimage .wsettings {
  position: absolute;
  display: none;
  width: 100%;
  min-width: 256px;
  background-color: var(--background);
  color: var(--text);
}

.wimage .wrapper:hover .wsettings {
  display: block;
}

/* Settings */
.wsettings > * {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 24px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.wsettings button,
.wsettings input {
  cursor: pointer;
  transition: background-color 0.2s;
}

.wsettings button:hover,
.wsettings input:hover {
  background-color: var(--hover);
}

.wsettings button:disabled,
.wsettings input:disabled {
  background-color: var(--disabled);
  cursor: no-drop;
}

.wsettings label input:not([type='checkbox']) {
  width: inherit;
}

.wsettings .wprogress {
  position: relative;
}

.wsettings .wprogress div {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--main-hover);
  transform-origin: left;
}

.wsettings .wprogress span {
  z-index: 0;
}

.wsettings .colors {
  position: relative;
  background: repeating-linear-gradient(
    25deg,
    var(--background),
    var(--background),
    var(--hover) 8px,
    var(--hover) 12px
  );
  cursor: ew-resize;
}

.wsettings .colors > button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: grab;
  transition:
    0.2s left,
    0.2s width,
    0.2s filter;
}

.wsettings .colors > button:hover {
  filter: brightness(0.6);
}

.wsettings .colors > button.color-disabled::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 2;
  box-shadow: inset 0 0 0 2px var(--error);
  pointer-events: none;
}

.wsettings .colors > button.substitution button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 4px;
  color: var(--background);
  transition: 0.2s filter;
}

.wsettings .colors > button.substitution button:hover {
  filter: brightness(0.6);
}

.wsettings .colors > button.substitution button:first-child {
  background: var(--wreal-color);
  text-align: left;
  clip-path: polygon(0 0, 80% 0, 20% 100%, 0 100%);
}

.wsettings .colors > button.substitution button:last-child {
  background: var(--wsubstitution-color);
  text-align: right;
  clip-path: polygon(100% 100%, 100% 0, 80% 0, 20% 100%);
}

.wsettings .colors > button.substitution:hover {
  filter: none;
}

.wsettings .colors:hover > button {
  left: var(--wleft) !important;
  width: var(--wwidth) !important;
}

/* Move */
.wtopbar {
  position: absolute;
  top: -24px;
  left: 0;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  min-width: min-content;
  min-width: 256px;
  background-color: var(--main);
  color: var(--text-invert);
  cursor: all-scroll;
}

.wtopbar button {
  min-width: 24px;
}

.wtopbar button:hover {
  background-color: var(--main-hover);
}

/* Resize */
.resize {
  position: absolute;
  width: calc(100% - var(--resize) - var(--resize));
  height: calc(100% - var(--resize) - var(--resize));
}

.resize.n {
  top: 0;
  left: var(--resize);
  height: var(--resize);
  cursor: n-resize;
}

.resize.e {
  top: var(--resize);
  right: 0;
  width: var(--resize);
  cursor: e-resize;
}

.resize.s {
  bottom: 0;
  left: var(--resize);
  height: var(--resize);
  cursor: s-resize;
}

.resize.w {
  top: var(--resize);
  left: 0;
  width: var(--resize);
  cursor: w-resize;
}

/* Utility */
.wp {
  padding: 0 8px;
}

.hidden {
  display: none;
}

.no-pointer-events {
  height: 1px;
  pointer-events: none;
}
