:root {
  --background: #ffffff;
  --disabled: #c2c2c2;
  --hover: #dfdfdf;
  --main-hover: #2580ff;
  --main: #0069ff;
  --text-invert: #ffffff;
  --text: #394e6a;
}

.wbot-widget {
  background-color: var(--background);
  color: var(--text);
  left: 0;
  position: fixed;
  top: 0;
  width: 256px;
  z-index: 9998;
}
.wbot-widget .content > * {
  align-items: center;
  display: flex;
  height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.wbot-widget button,
.wbot-widget input {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 24px;
  justify-content: center;
  padding: 0 4px;
  width: 100%;
}
.wbot-widget button:hover,
.wbot-widget input:hover {
  background-color: var(--hover);
  transition: background-color 0.5s;
}
.wbot-widget button:disabled,
.wbot-widget input:disabled {
  background-color: var(--disabled);
  cursor: no-drop;
}
.wbot-widget .p {
  padding: 0 8px;
}
.wbot-widget .move {
  background-color: var(--main);
  color: var(--text-invert);
  cursor: all-scroll;
  width: 100%;
}
.wbot-widget .move .minimize {
  margin-left: auto;
  width: 24px;
}
.wbot-widget .move .minimize:hover {
  background-color: var(--main-hover);
}
.wbot-widget .scale {
  width: 80px;
}
.wbot-widget .strategy {
  text-align: center;
}


.hidden {
  display: none;
}

.resize {
  height: calc(100% - var(--resize) - var(--resize));
  width: calc(100% - var(--resize) - var(--resize));
  position: absolute;
}
.resize.n {
  cursor: n-resize;
  top: 0;
  left: var(--resize);
  height: var(--resize);
}
.resize.e {
  cursor: e-resize;
  top: var(--resize);
  right: 0;
  width: var(--resize);
}
.resize.s {
  cursor: s-resize;
  left: var(--resize);
  bottom: 0;
  height: var(--resize);
}
.resize.w {
  cursor: e-resize;
  top: var(--resize);
  left: 0;
  width: var(--resize);
}
.resize.ne {
  cursor: ne-resize;
  top: 0;
  right: 0;
  width: var(--resize);
  height: var(--resize);
}
.resize.nw {
  cursor: nw-resize;
  top: 0;
  left: 0;
  width: var(--resize);
  height: var(--resize);
}
.resize.se {
  cursor: se-resize;
  right: 0;
  bottom: 0;
  width: var(--resize);
  height: var(--resize);
}
.resize.sw {
  cursor: sw-resize;
  left: 0;
  bottom: 0;
  width: var(--resize);
  height: var(--resize);
}

.wbot-image {
  border: 1px solid var(--main);
  left: 0;
  position: fixed;
  top: 0;
  z-index: 9998;
}
.wbot-image {
  
}