:root {
  --background: #ffffff;
  --disabled: #c2c2c2;
  --hover: #dfdfdf;
  --main-hover: #2580ff;
  --main: #0069ff;
  --text-invert: #ffffff;
  --text: #394e6a;
  --resize: 2px;
}

/** Widget */
.wwidget {
  background-color: var(--background);
  color: var(--text);
  left: 0;
  position: fixed;
  top: 0;
  width: 256px;
  z-index: 10;
}
.wwidget .move {
  background-color: var(--main);
  color: var(--text-invert);
  cursor: all-scroll;
  width: 100%;
}
.wwidget .move .minimize {
  margin-left: auto;
  width: 24px;
  display: block;
}
.wwidget .move .minimize:hover {
  background-color: var(--main-hover);
}
.wwidget .images {
  height: auto;
  flex-direction: column;
  max-height: 300px;
  overflow-y: auto;
}
.wwidget .images .image {
  display: flex;
  align-items: center;
  height: 64px;
  width: 100%;
}
.wwidget .images .image img {
  height: 64px;
  margin: 0 auto;
  cursor: pointer;
}
.wwidget .images .image button {
  height: 64px;
  width: 32px;
  font-size: 24px;
  font-weight: bolder;
}

/** Image */
.wimage {
  left: 0;
  position: fixed;
  top: 0;
  z-index: 9;
  box-shadow: inset var(--main) 0 0 0 1px;
  cursor: all-scroll;
}
.wimage .wsettings {
  background-color: var(--background);
  color: var(--text);
  display: none;
  position: absolute;
  width: 100%;
}
.wimage:hover .wsettings {
  display: block;
}

/* Settings */
.wsettings > * {
  align-items: center;
  display: flex;
  height: 24px;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.wsettings button, .wsettings input {
  cursor: pointer;
  transition: background-color 0.5s;
} 
.wsettings button:hover, .wsettings input:hover {
  background-color: var(--hover);
} 
.wsettings button:disabled, .wsettings input:disabled {
  background-color: var(--disabled);
  cursor: no-drop;
}

.wsettings .progress {
  position: relative;
}
.wsettings .progress div {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--main);
  transform-origin: left;
}
.wsettings .progress span {
  z-index: 0;
}


/* Utility */
.wp {
  padding: 0 8px;
}
.hidden {
  display: none;
}
.resize {
  height: calc(100% - var(--resize) - var(--resize));
  width: calc(100% - var(--resize) - var(--resize));
  position: absolute;
}
.resize.n {
  cursor: n-resize;
  top: 0;
  left: var(--resize);
  height: var(--resize);
}
.resize.e {
  cursor: e-resize;
  top: var(--resize);
  right: 0;
  width: var(--resize);
}
.resize.s {
  cursor: s-resize;
  left: var(--resize);
  bottom: 0;
  height: var(--resize);
}
.resize.w {
  cursor: w-resize;
  top: var(--resize);
  left: 0;
  width: var(--resize);
}